<!DOCTYPE html>
<html>
<head>
  <title>Is Is Raining? &#9748</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <h1>It's Weather Time! &#9928</h1>
  <%= yield %>
</body>
</html>